@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

a {
    /* text-decoration: none;
    cursor: pointer;
    color: blue; */
    color: black;
}

a:visited {
    color: purple;
}

a:hover, a:focus {
    color: red;
    opacity: 0.5;
    background: gold;
}

a:active {
    color: green;
}